// Color definitions
$white: #FFFFFF;
$white-bg: #FFFFFF;
$blue-bg: rgb(9, 0, 94); 
$black: #000000;
$border: rgba(171, 171, 171, 0.3); 
$grey-font: #ABABAB;
$grey-info: #777777;
$grey-line: rgba(171, 171, 171, 0.5);
$grey-text: #191919;