@use "../variables/color" as color;
@use "../variables/typography" as typo;
@use "../variables/spacing" as space;

// Font families
body {
  font-family: var(--font-montserrat), sans-serif;
  margin-block: 0;
  font-style: normal;
}

// Headings
h1 {
  font-size: typo.$h1-size;
  font-weight: typo.$h1-weight;
}

h2 {
  font-size: typo.$h2-size;
  font-weight: typo.$h2-weight;
}

h3 {
  font-size: typo.$h3-size;
  font-weight: typo.$h3-weight;
}


// Body text
p {
  font-size: typo.$p-size;
  font-weight: typo.$p-weight;
  font-style: normal;
  margin-block: 0;
}
